body {
  margin: 0;
  background-color: #eee;
}
li {
  list-style-type: none;
}
.test {
  background-color: red;
}

#container_kim {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
svg {
  width: 20px;
  fill: red;
}
#container_kim .top_kim {
  display: flex;
  justify-content: center;
  height: 3.2rem;
  background-color: #3d414d;
}
#container_kim .top_kim .topCenter_kim {
  display: flex;
  width: 80rem;
  margin: auto;
  justify-content: space-between;
}
#container_kim .top_kim .topCenter_kim .topLeft_kim {
  padding-left: 1rem;
}
#container_kim .top_kim .topCenter_kim .topRight_kim {
  padding-right: 1rem;
}
#container_kim .top_kim .topCenter_kim .topRight_kim::after {
  content: "\f213";
}
#container_kim .subTop_kim {
  height: 1.7rem;
  display: none;
  background-color: #4c5161;
}
@media (max-width: 992px) {
  #container_kim .subTop_kim {
    display: block;
  }
}

#container_kim .body_kim {
  height: 130rem;
  margin: auto;
}
#container_kim .body_kim .bodyCenter_kim {
  display: flex;
  height: 100%;
  /* flex: 1; */
  /* justify-content: center; */
}
#container_kim .body_kim .bodyCenter_kim .left-adBar_kim,
#container_kim .body_kim .bodyCenter_kim .rightEndBlock_kim {
  flex: 1;
  display: flex;
  justify-content: right;
  /* background-color: yellow; */
  /* max-width: 10rem;
  height: 20rem;
  background-color: blue; */
}
/* #container_kim .body_kim .bodyCenter_kim .left-adBar_kim {
  width: auto; */
/* background-color: blue; */
/* background-color: brown;
} */
#container_kim .body_kim .bodyCenter_kim .left-adBar_kim .left-ad_kim {
  width: 160px;
  height: 600px;
  background-color: red;
  margin: 1rem;
}
#container_kim .body_kim .bodyCenter_kim .boardsIndex_kim {
  width: 60rem;
  background-color: white;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#container_kim .body_kim .bodyCenter_kim .informBox_kim {
  width: 19rem;
  margin-left: 0.8rem;
  /* margin-right: 11rem; */
  /* margin: 0 0.5rem 0 0.8rem; */
  background-color: brown;
}
#container_kim .body_kim .bodyCenter_kim .informBox_kim .temporaryContent_kim {
  width: 300px;
  height: 180px;
  background-color: red;
}

@media screen and (max-width: 991px) {
  #container_kim .body_kim .bodyCenter_kim .informBox_kim {
    display: none;
  }
  #container_kim .body_kim .bodyCenter_kim .boardsIndex_kim {
    border: none;
  }
}
@media screen and (max-width: 1700px) {
  #container_kim .body_kim .bodyCenter_kim .left-adBar_kim .left-ad_kim {
    display: none;
  }
}

#container_kim .footer_kim {
  height: 8rem;
  background-color: #f5f5f5;
  border-top: 1px solid #bbbbbb;
}
