* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #eee;
  font-family: "NanumBarunGothic", system-ui, sans-serif;
}
li {
  list-style-type: none;
}
.test {
  background-color: red;
}
form {
  margin: 0;
  padding: 0;
}
.out {
  display: none !important;
}
#container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#container .topMenu {
  display: flex;
  justify-content: center;
  min-height: 3.2rem;
  height: max-content;
  background-color: #3d414d;
}
#container .topMenu .topCenter {
  display: flex;
  width: 80rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  line-height: 100%;
}
#container .topMenu .topCenter .topLeft {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: baseline;
  padding-left: 0.5rem;
}
#container .topMenu .topCenter .topRight {
  padding-right: 0.5rem;
}
#container .topMenu .topCenter,
#container .topMenu .topCenter .topLeft .subscribeChanel,
#container .topMenu .topCenter .topLeft .primaryChanel,
#container .topMenu .topCenter .topLeft .search,
#container .topMenu .topCenter .topRight,
#container .topMenu .topCenter .topRight .notification .notification-img,
#container .topMenu .topCenter .topRight .login {
  position: relative;
}
#container .topMenu .topCenter .topLeft .subscribeChanel,
#container .topMenu .topCenter .topLeft .subscribeChanel .chanelSelectorButton,
#container
  .topMenu
  .topCenter
  .topLeft
  .subscribeChanel
  .chanelSelectorButton
  .arrowButton,
#container .topMenu .topCenter .topLeft .primaryChanel,
#container .topMenu .topCenter .topLeft .primaryChanel .chanelSelectorButton,
#container
  .topMenu
  .topCenter
  .topLeft
  .primaryChanel
  .chanelSelectorButton
  .arrowButton,
#container .topMenu .topCenter .topLeft .search,
#container .topMenu .topCenter .topLeft .search .chanelSearchBox,
#container .topMenu .topCenter .topRight .topEtc,
#container .topMenu .topCenter .topRight .notification,
#container .topMenu .topCenter .topRight .notification .notification-img,
#container .topMenu .topCenter .topRight .login a .person-img,
#container .topMenu .topCenter .topRight .login {
  display: inline-block;
}

#container .topMenu .topCenter .topLeft .subscribeChanel,
#container .topMenu .topCenter .topLeft .primaryChanel {
  padding-left: 1rem;
}
/* #container .topMenu .topCenter .topLeft .inline,
#container .topMenu .topCenter .topRight .inline {
  display: inline-block;
} */
#container .topMenu .topCenter .topLeft .logo-img {
  transform: translateY(10px);
  padding-right: 0.4rem;
}
#container .topMenu .topCenter .topLeft .subscribeChanel .chanelBox,
#container .topMenu .topCenter .topLeft .primaryChanel .chanelBox {
  position: absolute;
  top: 20;
  right: 0;
  bottom: 0;
  left: 5;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  z-index: 1;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  /* 임시 */
  /* width: 13rem; */
  min-width: max-content;
  height: fit-content;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .subscribeChanel
  .chanelBox
  .chanelAreaLiner,
#container
  .topMenu
  .topCenter
  .topLeft
  .primaryChanel
  .chanelBox
  .chanelAreaLiner,
#container
  .topMenu
  .topCenter
  .topRight
  .login
  .userInfoBox
  .userInfoListLiner {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 0.3rem;
  padding-top: 0.3rem;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .subscribeChanel
  .chanelBox
  .chanelList
  a,
#container .topMenu .topCenter .topLeft .primaryChanel .chanelBox .chanelList a,
#container .topMenu .topCenter .topRight .login .userInfoBox .userName,
#container .topMenu .topCenter .topRight .login .userInfoBox .userPoint,
#container .topMenu .topCenter .topRight .login .userInfoBox .userInfoList a {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 1.5rem;
  font-size: 0.9rem;
  padding: 0.1rem 1.5rem 0.1rem 1.5rem;
  width: 100%;
  text-decoration: none;
  color: black;
  word-break: keep-all;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .subscribeChanel
  .chanelBox
  .chanelList
  a:hover,
#container
  .topMenu
  .topCenter
  .topLeft
  .primaryChanel
  .chanelBox
  .chanelList
  a:hover,
#container
  .topMenu
  .topCenter
  .topRight
  .login
  .userInfoBox
  .userInfoList
  a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#container .topMenu .topCenter .topLeft span {
  font-size: 0.92rem;
  font-size: 15px;
  color: white;
}
#container .topMenu .topCenter .topRight .topEtc a,
#container .topMenu .topCenter .topRight .login a {
  display: inline-block;
  font-size: 0.92rem;
  padding: 0rem 0rem 0rem 0.8rem;
  font-size: 15px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .subscribeChanel
  .chanelSelectorButton
  .arrowButton::after,
#container
  .topMenu
  .topCenter
  .topLeft
  .primaryChanel
  .chanelSelectorButton
  .arrowButton::after {
  display: inline-block;
  content: "";
  height: 0px;
  width: 0px;
  border: 4px solid white;
  margin-left: 0.3rem;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
#container .topMenu .topCenter .topLeft .subscribeChanel .chanelSelectorButton,
#container .topMenu .topCenter .topLeft .primaryChanel .chanelSelectorButton {
  cursor: pointer;
}
#container .topMenu .topCenter .topLeft .search {
  flex: 1;
  margin-left: 1.5rem;
}
#container .topMenu .topCenter .topLeft .search .search-img {
  position: absolute;
  top: 12;
  right: 0;
  bottom: 0;
  left: 8;
  width: 1.5rem;
  height: 1.5rem;
}
#container .topMenu .topCenter .topLeft .search .search-img img {
  filter: invert(1);
  width: 100%;
  height: 100%;
}

#container .topMenu .topCenter .topLeft .search input {
  height: 75%;
  font-size: 1rem;
  width: 100%;
  max-width: 19rem;
  padding: 0;
  padding-left: 2.5rem;
  border: 0;
  margin: 0;
  margin-top: 0.3rem;
  color: white;
  background-color: black;
  outline: none;
  border: 2px solid black;
  transition: 1s border;
  border-radius: 5px;
  font-size: 0.9rem;
}
#container .topMenu .topCenter .topLeft .search input:focus {
  border: 2px solid aqua;
  transition: 1s border;
}
#container .topMenu .topCenter .topLeft .search input::placeholder {
  color: white;
  font-size: 0.9rem;
}

#container .topMenu .topCenter .topLeft .search .chanelSearchBox {
  width: 100%;
  max-width: 19rem;
  position: absolute;
  top: 38;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 0;
  border-radius: 5px;
  border: 1px solid #3d414d;
  height: fit-content;
  background-color: white;
}
#container .topMenu .topCenter .topLeft .search .chanelSearchBox .chanelList,
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelSearchButtonLine,
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelcloseButtonLine {
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  width: 100%;
  color: black;
  height: 2rem;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .bottomChanelLiner {
  width: auto;
  height: auto;
  border-top: 1px solid #4c5161;
  margin-top: 0.6rem;
  padding-top: 0.6rem;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelList:hover,
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelSearchButtonLine:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#container .topMenu .topCenter .topLeft .search .chanelSearchBox .chanelList a,
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelList
  .no-search,
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelSearchButtonLine
  a {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
  font-size: 0.9rem;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelList
  a
  span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container .topMenu .topCenter .topLeft .search .chanelSearchBox .chanelList a,
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelSearchButtonLine
  a {
  text-decoration: none;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelList
  .no-search {
  color: rgba(0, 0, 0, 0.3);
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelList
  a
  .logo {
  width: 1.8rem;
  height: 1.8rem;
  padding-right: 0.5rem;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelList
  a
  .playImg {
  width: 20px;
  height: 20px;
  float: right;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelList
  a
  span,
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelSearchButtonLine
  a {
  font-size: 0.9rem;
  flex: 1;
  color: black;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelSearchButtonLine
  a
  span {
  color: black;
  font-weight: bold;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelcloseButtonLine {
  display: flex;
  justify-content: right;
}
#container
  .topMenu
  .topCenter
  .topLeft
  .search
  .chanelSearchBox
  .chanelcloseButtonLine
  #chanelSearchCloseButton {
  display: inline-block;
  height: 100%;
  padding: 0.3rem;
  color: #4c5161;
  font-size: 0.9rem;
  cursor: pointer;
}
#container .topMenu .topCenter .topRight .notification {
  padding-left: 1rem;
}
#container .topMenu .topCenter .topRight .notification .notification-img img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  filter: invert(1);
  cursor: pointer;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notification-img::after {
  position: absolute;
  cursor: pointer;
  content: "";
  top: -3;
  right: 0;
  left: 8;
  bottom: 0;
  width: 0.6rem;
  height: 0.6rem;
  background-color: red;
  border-radius: 100%;
  display: none;
}
#container .topMenu .topCenter .topRight .notification .notificationBox {
  position: absolute;
  top: 25;
  right: 0;
  bottom: 0;
  left: -140;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  z-index: 1;
  padding-top: 0.1rem;
  /* 임시 */
  width: 17rem;
  height: fit-content;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificationBellTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 0.7rem;
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificationBellTitle
  .readAllButton {
  width: fit-content;
  height: 1.6rem;
  font-size: 0.7rem;
  font-family: "NanumBarunGothic", system-ui, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.58);
  outline: 0;
  border: 2.5px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificationBellTitle
  .readAllButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 1s;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificationBellTitle
  .readAllButton:focus {
  border: 2px solid #bbbbbb;
  transition: border 0.3s;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificatetionMessages {
  width: 17rem;
  height: 13rem;
  overflow-y: scroll;
  margin: 0.5rem 0;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificatetionMessages
  .newLink,
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .allLook {
  height: fit-content;
  font-size: 1rem;
  word-break: break-all;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .allLook {
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificatetionMessages
  .newLink
  a,
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .allLook
  a {
  color: black;
  text-decoration: none;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .notificatetionMessages
  .newLink
  a {
  display: inline-block;
  padding: 0rem 1rem 1rem 1rem;
  width: 100%;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .allLook
  a {
  font-size: 0.8rem;
}
#container
  .topMenu
  .topCenter
  .topRight
  .notification
  .notificationBox
  .allLook
  a:hover {
  text-decoration: underline;
}
#container .topMenu .topCenter .topRight .login a span {
  font-size: 1.1rem;
}
#container .topMenu .topCenter .topRight .login a .person-img img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  filter: invert(1);
}
#container .topMenu .topCenter .topRight .login .userInfoBox {
  position: absolute;
  top: 25;
  right: 0;
  bottom: 0;
  left: -28;
  background-color: white;
  padding-bottom: 0.3rem;
  width: 100%;
  min-width: max-content;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3%;
  height: fit-content;
}
#container .topMenu .topCenter .topRight .login .userInfoBox .userName {
  height: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
#container .topMenu .topCenter .topRight .login .userInfoBox .userName a {
  padding: 0;
}
#container .topMenu .topCenter .topRight .login .userInfoBox .userName a span {
  color: black;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
#container
  .topMenu
  .topCenter
  .topRight
  .login
  .userInfoBox
  .userName
  a
  span:hover {
  text-decoration: underline;
}
#container .subTop {
  height: max-content;
  font-size: 0.6rem;
  display: none;
  background-color: #4c5161;
}

#container .body {
  height: 130rem;
  margin: auto;
}
#container .body .bodyCenter {
  display: flex;
  height: 100%;
  /* flex: 1; */
  /* justify-content: center; */
}
#container .body .bodyCenter .left-adBar,
#container .body .bodyCenter .rightEndBlock {
  flex: 1;
  display: flex;
  justify-content: right;
  /* background-color: yellow; */
  /* max-width: 10rem;
  height: 20rem;
  background-color: blue; */
}
/* #container .body .bodyCenter .left-adBar {
  width: auto; */
/* background-color: blue; */
/* background-color: brown;
} */
#container .body .bodyCenter .left-adBar .left-ad {
  width: 160px;
  height: 600px;
  background-color: red;
  margin: 1rem;
}
#container .body .bodyCenter .boardsIndex {
  width: 60rem;
  background-color: white;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#container .body .bodyCenter .informBox {
  width: 19rem;
  margin-left: 0.8rem;
  /* margin-right: 11rem; */
  /* margin: 0 0.5rem 0 0.8rem; */
  background-color: brown;
}
#container .body .bodyCenter .informBox .temporaryContent {
  width: 300px;
  height: 180px;
  background-color: red;
}
@media screen and (max-width: 575px) {
  #container .topMenu .topCenter .topLeft .search .search-img {
    display: none;
  }
  #container .topMenu .topCenter .topLeft .search input {
    display: none;
  }
  #container .topMenu .topCenter .topLeft .search .chanelSearchBox {
    width: 100%;
    max-width: unset;
    position: absolute;
    top: 48;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: unset;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.199);
  }
  #container
    .topMenu
    .topCenter
    .topLeft
    .search
    .chanelSearchBox
    .bottomChanelLiner {
    display: none;
  }
  #container .topMenu .topCenter .topLeft .search {
    position: unset;
  }
}
@media screen and (max-width: 991px) {
  #container .body .bodyCenter .informBox {
    display: none;
  }
  #container .body .bodyCenter .boardsIndex {
    border: none;
  }
  #container .subTop {
    display: block;
  }
}
@media screen and (max-width: 1700px) {
  #container .body .bodyCenter .left-adBar .left-ad {
    display: none;
  }
}

#container .footer {
  height: 8rem;
  background-color: #f5f5f5;
  border-top: 1px solid #bbbbbb;
}
