body {
  margin: 0;
  background-color: #eee;
  --base-font-family: -apple-system, BlinkMacSystemFont, "NanumBarunGothic",
    system-ui, sans-serif;
}
li {
  list-style-type: none;
}
.test {
  background-color: red;
}

#container_kim {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#container_kim .top_kim {
  display: flex;
  justify-content: center;
  height: 3.2rem;
  background-color: #3d414d;
}
#container_kim .top_kim .topCenter_kim {
  display: flex;
  width: 80rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
#container_kim .top_kim .topCenter_kim .topLeft_kim {
  padding-left: 1rem;
  position: relative;
}

#container_kim .top_kim .topCenter_kim .topRight_kim {
  padding-right: 1rem;
}
#container_kim .top_kim .topCenter_kim .topLeft_kim .inline_kim,
#container_kim .top_kim .topCenter_kim .topRight_kim .inline_kim {
  display: inline-block;
}
#container_kim .top_kim .topCenter_kim .topLeft_kim .logo-img_kim {
  transform: translateY(5px);
}
#container_kim .top_kim .topCenter_kim .topLeft_kim span,
#container_kim .top_kim .topCenter_kim .topRight_kim .inline_kim a {
  display: inline-block;
  font-size: 0.92rem;
  padding: 0rem 0rem 0rem 0.8rem;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
#container_kim .top_kim .topCenter_kim .topLeft_kim span {
  padding-top: 1.5rem;
}
#container_kim .top_kim .topCenter_kim .topLeft_kim .space_kim {
  padding-left: 0.15rem;
}
#container_kim .top_kim .topCenter_kim .topLeft_kim .space_kim::after {
  display: inline-block;
  content: "";
  height: 0px;
  width: 0px;
  border: 4px solid white;
  margin-left: 7px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
#container_kim
  .top_kim
  .topCenter_kim
  .topLeft_kim
  .inline_kim
  form
  .inline_kim {
  position: relative;
}
#container_kim
  .top_kim
  .topCenter_kim
  .topLeft_kim
  .inline_kim
  form
  .inline_kim
  .search-img_kim::before {
  content: "\f21f";
  background-color: black;
  position: absolute;
  top: 5;
  right: 0;
  bottom: 0;
  left: 25;
  width: 18px;
  height: 60%;
}
#container_kim
  .top_kim
  .topCenter_kim
  .topLeft_kim
  .inline_kim
  form
  .inline_kim
  input {
  height: 75%;
  font-size: 1rem;
  width: 18rem;
  padding: 0;
  padding-left: 2rem;
  border: 0;
  margin: 0;
  color: white;
  background-color: black;
  outline: none;
  border: 2px solid black;
  transition: 1s border;
  border-radius: 5px;
}
#container_kim
  .top_kim
  .topCenter_kim
  .topLeft_kim
  .inline_kim
  form
  .inline_kim
  input:focus {
  border: 2px solid aqua;
  transition: 1s border;
}
#container_kim
  .top_kim
  .topCenter_kim
  .topRight_kim
  .inline_kim
  a
  .person-img_kim::before {
  content: "\f213";
}
#container_kim
  .top_kim
  .topCenter_kim
  .topLeft_kim
  .inline_kim
  form
  .chanelSelect_kim {
  width: 18rem;
  position: absolute;
  top: 40;
  right: 0;
  bottom: 0;
  left: 20;
  border-radius: 5px;
  border: 1px solid #3d414d;
  height: fit-content;
  background-color: white;
}
#container_kim
  .top_kim
  .topCenter_kim
  .topLeft_kim
  .inline_kim
  form
  .chanelSelect_kim
  div {
  display: flex;
  padding-left: 10px;
  justify-content: left;
  align-items: center;
  width: 100%;
  color: black;
  height: 3rem;
}
#container_kim .subTop_kim {
  height: 1.7rem;
  display: none;
  background-color: #4c5161;
}
@media (max-width: 992px) {
  #container_kim .subTop_kim {
    display: block;
  }
}

#container_kim .body_kim {
  height: 130rem;
  margin: auto;
}
#container_kim .body_kim .bodyCenter_kim {
  display: flex;
  height: 100%;
  /* flex: 1; */
  /* justify-content: center; */
}
#container_kim .body_kim .bodyCenter_kim .left-adBar_kim,
#container_kim .body_kim .bodyCenter_kim .rightEndBlock_kim {
  flex: 1;
  display: flex;
  justify-content: right;
  /* background-color: yellow; */
  /* max-width: 10rem;
  height: 20rem;
  background-color: blue; */
}
/* #container_kim .body_kim .bodyCenter_kim .left-adBar_kim {
  width: auto; */
/* background-color: blue; */
/* background-color: brown;
} */
#container_kim .body_kim .bodyCenter_kim .left-adBar_kim .left-ad_kim {
  width: 160px;
  height: 600px;
  background-color: red;
  margin: 1rem;
}
#container_kim .body_kim .bodyCenter_kim .boardsIndex_kim {
  width: 60rem;
  background-color: white;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#container_kim .body_kim .bodyCenter_kim .informBox_kim {
  width: 19rem;
  margin-left: 0.8rem;
  /* margin-right: 11rem; */
  /* margin: 0 0.5rem 0 0.8rem; */
  background-color: brown;
}
#container_kim .body_kim .bodyCenter_kim .informBox_kim .temporaryContent_kim {
  width: 300px;
  height: 180px;
  background-color: red;
}

@media screen and (max-width: 991px) {
  #container_kim .body_kim .bodyCenter_kim .informBox_kim {
    display: none;
  }
  #container_kim .body_kim .bodyCenter_kim .boardsIndex_kim {
    border: none;
  }
}
@media screen and (max-width: 1700px) {
  #container_kim .body_kim .bodyCenter_kim .left-adBar_kim .left-ad_kim {
    display: none;
  }
}

#container_kim .footer_kim {
  height: 8rem;
  background-color: #f5f5f5;
  border-top: 1px solid #bbbbbb;
}
